 <div style="background-color: rgba(12, 11, 11, 0.495)">
    <div class="row">
      <div style="padding-left: 50px ;" class="col">
        <ul class="nav flex-column">
      <li class="nav-item">
        <a style="color:black; font-weight: bolder;" class="nav-link active" aria-current="page" href="#">Get to know<br>Us</a>
      </li>
      <li class="nav-item">
        <a style="color:white" class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a style="color:white"class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a style="color:white"class="nav-link active" aria-current="page" href="#">Careers</a>
      </li>
      <li class="nav-item">
        <a style="color:white" class="nav-link active" aria-current="page" href="#">Press Releases</a>
      </li>
      <li class="nav-item">
        <a  style="color:white"class="nav-link active" aria-current="page" href="#">Contact Us</a>
      </li><li class="nav-item">
        <a style="color:white"class="nav-link active" aria-current="page" href="#">Amazon Science</a>
      </li>
      <br>
      <br>
      <br>
      <br>
      
    </ul></div>

    <div style="padding-right: 140px;"  class="col">
      <ul class="nav flex-column">
    <li  class="nav-item">
      <a   style="color:black;font-weight: bolder; "  class="nav-link active" aria-current="page" href="#">Connect With Us</a>
    </li>
    <li class="nav-item">
      <a style="color:white"class="nav-link" href="#">Facebook</a>
    </li>
    <li class="nav-item">
      <a style="color:white"class="nav-link" href="#">Twitter</a>
    </li>
    <li class="nav-item">
      <a style="color:white" class="nav-link active" aria-current="page" href="#">Instagram</a>
    </li>

  </ul></div>
  
  <div style="padding-right: 170px;" class="col">
    <ul class="nav flex-column" style="position: absolute; right: 500px;">
  <li class="nav-item">
    <a   style="color:black;font-weight: bolder;"class="nav-link active" aria-current="page" href="#">Make Money With Us

</a></li>
  <li class="nav-item">
    <a style="color:white"class="nav-link" href="#">Sell on Amazon</a>
  </li>
  <li class="nav-item">
    <a style="color:white"class="nav-link" href="#">Sell under Amazon<br>Accelerator</a>
  </li>
  <li class="nav-item">
    <a style="color:white"class="nav-link active" aria-current="page" href="#">protect and Build your Brand</a>
  </li>
  <li class="nav-item">
    <a style="color:white"class="nav-link active" aria-current="page" href="#">Amazon Global Selling</a>
  </li>
  <li class="nav-item">
    <a style="color:white" class="nav-link active" aria-current="page" href="#">Become an Affiliate</a>
  </li>
</ul></div>
   <h1 style="padding-left: 100px; color: aliceblue;"> Get in touch with us</h1>
  </div>
<div style="padding-block: 200px; padding: 200px; padding-top: 20px;">
 <a href="contact.html">  <button style="color: white;" type="button" class="btn btn-warning btn-lg">Contact Us</button></a><br>
  <br>
  <br>
  <hr style="color: gray; height: 100px;">
</div>

</div>
