<h2>Fashion Sandals</h2>
<div class="row">
<div class="col">
<div class="card" style="width: 18rem;">
    <img src="https://m.media-amazon.com/images/I/417I9SdNiFL.AC_SX250.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Shoetopia</h5>
      
    </div>
  </div>
</div>
<div class="col">
    <div class="card" style="width: 18rem;">
        <img src="https://m.media-amazon.com/images/I/61mNJeBVnhL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">XE Looks</h5>
          
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://m.media-amazon.com/images/I/6185D27UWDL._AC_UL480_FMwebp_QL65_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Marc Loire</h5>
              
            </div>
          </div>
        </div>
</div>